<footer class="flex flex-col items-center bg-black py-4 h-24">
  <div class="flex justify-between items-center w-9/12">
    <a
      href="https://darkusphantom.com"
      target="_blank"
      rel="noopener noreferrer"
      >Visita mi blog</a
    >
    <a
      href="https://linktr.ee/darkusphantom"
      target="_blank"
      rel="noopener noreferrer"
    >
      By &#64;darkusphantom
    </a>
    <a
      href="https://db.ygoprodeck.com/api-guide/"
      target="_blank"
      rel="noopener noreferrer"
      >Yugioh API</a
    >
  </div>
  <p>2024</p>
</footer>
