<footer
  class="flex flex-col items-center py-4 h-max min-h-24"
  style="background: rgba(64, 34, 24, 1) 0"
>
  <div
    class="flex flex-col lg:flex-row justify-between items-center w-9/12 mb-4"
  >
    <a
      class="text-white hover:underline"
      href="https://darkusphantom.com"
      target="_blank"
      rel="noopener noreferrer"
      >Visita mi blog</a
    >
    <a
      class="text-white hover:underline"
      href="https://linktr.ee/darkusphantom"
      target="_blank"
      rel="noopener noreferrer"
    >
      By &#64;darkusphantom
    </a>
    <a
      class="text-white hover:underline"
      href="https://db.ygoprodeck.com/api-guide/"
      target="_blank"
      rel="noopener noreferrer"
      >Yugioh API</a
    >
  </div>
  <p class="text-white text-sm pb-4">{{ year }}</p>
</footer>
