.searchbar {
  position: relative;
  mat-icon {
    position: absolute;
    top: 5px;
    left: 4px;
    width: 28px;
    height: 28px;
  }
  input {
    width: 100%;
    max-width: 300px;
    padding: 8px 14px 8px 32px;
    background: var(--color-white);
    border: none;
    border-radius: 6px;
    color: var(--color-black);
    font-size: 1rem;
  }
}
