<div class="home">
  <section class="cards-carousel">
    <app-carousel
      [title]="'Dark Magicians'"
      [cards]="filteredCards"
    ></app-carousel>
    <button type="button" mat-raised-button color="primary">
      <a
        routerLink="/yugioh/type-card/normal monster"
        routerLinkActive="active"
      >
        See more
      </a>
    </button>
  </section>
  <section class="cards-carousel">
    <app-carousel
      [title]="'Normal Monster Cards'"
      [cards]="normalMonsterCards"
    ></app-carousel>
    <button type="button" mat-raised-button color="primary">
      <a
        routerLink="/yugioh/type-card/normal monster"
        routerLinkActive="active"
      >
        See more
      </a>
    </button>
  </section>
  <section class="cards-carousel">
    <app-carousel
      [title]="'Effect Monster Cards'"
      [cards]="effectMonsterCards"
    ></app-carousel>
    <button type="button" mat-raised-button color="primary">
      <a
        routerLink="/yugioh/type-card/effect monster"
        routerLinkActive="active"
      >
        See more
      </a>
    </button>
  </section>
  <section class="cards-carousel">
    <app-carousel [title]="'Spell Cards'" [cards]="spellCards"></app-carousel>
    <button type="button" mat-raised-button color="primary">
      <a
        routerLink="/yugioh/type-card/spell card"
        routerLinkActive="active"
      >
        See more
      </a>
    </button>
  </section>
  <section class="cards-carousel">
    <app-carousel [title]="'Trap Cards'" [cards]="trapCards"></app-carousel>
    <button type="button" mat-raised-button color="primary">
      <a
        routerLink="/yugioh/type-card/trap card"
        routerLinkActive="active"
      >
        See more
      </a>
    </button>
  </section>
</div>
