.home {
  min-height: calc(100vh - var(--min-body-height));
  background: var(--backgroundBody) no-repeat;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 280px;
  background: var(--dark-brown);

  &-title {
    letter-spacing: 4px;
    font-size: 2.7rem;
  }

  &-subtitle {
    font-size: 1.5rem;
  }

  &-title,
  &-subtitle {
    color: var(--color-white);
    font-weight: 700;
  }
}

.cards-carousel {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 95%;
  padding: 24px 0 64px;
  margin: 0 auto;
  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 20px 14px;
    border-radius: 4px;
    background: rgb(64 34 24 / 46%);
    box-shadow: 0px 2px 5px var(--dark-brown);
    button {
      max-width: 100px;
      margin-left: 30px;
      a {
        color: var(--color-white);
      }

      @media (max-width: 991px) {
        margin-left: 0;
        align-self: center;
      }
    }
  }
}
