<div class="home">
  <section class="intro">
    <h2 class="intro-title">TCG Yu Gi Oh!</h2>
    <p class="intro-subtitle">A playing card game</p>
  </section>
  <section class="cards-carousel">
    <section class="container" *ngFor="let carousel of carouselData">
      <app-carousel
        [title]="carousel.title"
        [cards]="carousel.cards"
        [description]="carousel.description"
      ></app-carousel>
      <button
        *ngIf="carousel.url"
        type="button"
        mat-raised-button
        color="primary"
      >
        <a [routerLink]="carousel.url"> See more </a>
      </button>
    </section>
  </section>
</div>
