<form class="form" [formGroup]="form" (submit)="register()">
  <div class="container">
    <div class="form-input">
      <input
        type="text"
        id="user"
        name="user"
        placeholder="juanga13"
        formControlName="username"
      />
    </div>
    <div class="form-input">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="correo@dominio.com"
        formControlName="email"
      />
    </div>
    <div class="form-input">
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
        formControlName="password"
      />
      <div *ngIf="passwordField?.touched && passwordField?.invalid">
        <div>Contraseña invalida</div>
      </div>
    </div>
    <div class="form-input">
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
      />
      <div *ngIf="confirmPasswordField?.touched && form.errors">
        <div *ngIf="form.hasError('match_password')">No son iguales</div>
      </div>
    </div>
    <button type="submit" [disabled]="form.invalid">Register</button>
  </div>
</form>
