<div class="overlay" *ngIf="showCardDetail" (click)="toggleCardDetail()"></div>
<div class="detail-card" [class.active]="showCardDetail">
  <div class="detail-card-container">
    <button type="button" class="detail-btn" (click)="toggleCardDetail()">
      Close
    </button>
    <div class="detail-card-title">
      <h3 class="detail-name">{{ cardDetail.name }}</h3>
      <p class="detail-race">{{ cardDetail.race }}</p>
    </div>
    <div class="detail-card-image">
      <img
        [src]="cardDetail.card_images[0].image_url"
        alt="cardDetail.name"
        width="250"
        height="370"
      />
    </div>
    <div class="detail-card-description">
      <p class="detail-description">
        <span>Description:</span> {{ cardDetail.desc }}
      </p>
      <p class="detail-lvl"><span>Level:</span> {{ cardDetail.level }}</p>
      <p class="detail-type"><span>Type:</span> {{ cardDetail.type }}</p>
      <p class="detail-archetype">
        <span>Archetype:</span> {{ cardDetail.archetype }}
      </p>
    </div>
  </div>
</div>
